/*  Theme default css start */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
}

:root {
    --primaryColor: #B6EC3D;
    --neutralColor: #131C1E;
    --neutralColor2: #FFF;
    --textColor: #BCBCBC;
    --textColor2: #747474;
    --othercolor2: #1A2224;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}



ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

:focus-visible {
    outline: none;
}

:focus {
    outline: none;
}


.container {
    max-width: 1420px;
}

/* 
header,
footer {
    background: var(--primaryColor);
} */

button {
    border: none;
    background: none;
}

input {
    background: transparent;
    border: none;
}

/* font size start */
.fs_14 {
    font-size: 14px;
    font-style: normal;
}

.fs_16 {
    font-size: 16px;
    font-style: normal;
}

.fs_18 {
    font-size: 18px;
    font-style: normal;
}

.fs_20 {
    font-size: 18px;
}

.fs_22 {
    font-size: 22px;
}

.fs_24 {
    font-size: 24px;
}

.fs_28 {
    font-size: 28px;
}

.fs_32 {
    font-size: 32px;
}

.fs_44 {
    font-size: 44px;
}

.fs_60 {
    font-size: 60px;
}

/* font size end */



/* font weight */
.fw_400 {
    font-weight: 400;
}

.fw_500 {
    font-weight: 500;
}

.fw_600 {
    font-weight: 600;
}

.fw_700 {
    font-weight: 700;
}

.fw_800 {
    font-weight: 800;
}

/* font weight */



/* margin start */
.mt_14 {
    margin-top: 14px;
}

.mt_92 {
    margin-top: 92px;
}

.mt_56 {
    margin-top: 56px;
}
.mt_68 {
    margin-top: 68px;
}

.mt_80 {
    margin-top: 80px;
}

.mt_112 {
    margin-top: 112px;
}

.mb_14 {
    margin-bottom: 14px;
}

.mb_56 {
    margin-bottom: 56px;
}

.mb_80 {
    margin-bottom: 80px;
}

.mb_112 {
    margin-bottom: 112px;
}

.mb_130 {
    margin-bottom: 130px;
}


/* margin end */


/* color start */
.grey {
    color: var(--textColor);
}

.grey2 {
    color: var(--textColor2);
}


/* color start */

/* common buttons design */
.greenButton {
    display: flex;
    width: 219px;
    height: 57px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 11px;
    background: var(--primaryColor);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.bannerWatchBtn {
    padding: 13px;
    border-radius: 11px;
    border: 1px solid var(--neutralColor);
    font-size: 16px;
    font-weight: 400;
}

/* common buttons design */





/* Design Text and SectionHeader Class Start */
.sectionHeader {
    color: var(--neutralColor);
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 35px;
}

@media only screen and (max-width:768px) {
    .sectionHeader {
        font-size: 24px;
        margin-bottom: 25px;
    }
}

/* curve text */

.txt_curve {
    position: relative;
}

.txt_curve::after {
    position: absolute;
    content: "";
    bottom: -24px;
    left: -8px;
    height: 57%;
    width: 110%;
    border: 5px;
    border-style: solid;
    border-color: var(--primaryColor) transparent transparent transparent;
    border-radius: 45% 45% 0 0;

}

@media only screen and (max-width:768px) {
    .txt_curve::after {
        height: 70%;
        position: absolute;
        content: "";
        bottom: -30px;
        left: -8px;
        width: 110%;
        border: 5px;
        border-style: solid;
        border-color: var(--primaryColor) transparent transparent transparent;
        border-radius: 45% 45% 0 0;
    }
}



/*  Theme default css  end */

/* <p class="sectionHeader text-center text-md-start"><span class="txt_curve">Trusted by big brands</span>
</p> */